body, .terminal {
    background-color: black;
    font-family: monospace;
    color: #efefef;
    margin: 0px;
    padding: 0px;
    overflow-y: hidden;
}

#splashscreen {
    position: fixed;
    background-color: #772953;
    height: 100vh;
    width: 100vw;
    font-family: sans-serif;
    text-align: center;
    padding-top: 10%;
    transition: 1s all;
}

/* TABS / UI */
.tab-label {
    text-transform: uppercase;
    border-right: solid 1px #555;
    padding-right: 4px;
    padding-left: 4px;
}

.tab-label.active {
    font-weight: bold;
    background-color: #555;
}

#tab_1 td, #tab_2 td, #tab_3 td {
    padding-right: 36px;
}

#tab_3 {
    height: calc(100vh - 60px);
    overflow-y: scroll;
}

#tab_4 {
    height: calc(100vh - 80px);
    overflow-y: scroll;
}

.mem_cell {
    font-kerning: 24px;
}
